.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-small;
  padding-left: 100px;
  padding-right: 110px;
  padding-top: 1em;
  padding-bottom: 3em;
}

.btnPrimary {
  background-color: #ffffff;
  border: 3px solid #646464;
  border-radius: 30px;
  color: #979797;
  cursor: pointer;
  font-weight: 600;
  font-size: 10px;
  padding: 0 10px;
  line-height: 30px;
}

.btnPrimary:hover {
  background-color: #cdcdcd;
  color: #ffffff;
}

.btnPrimary:hover .hoverEffect {
  border-right-color: #ffffff;
}

.arrow:hover {
  border-right-color: #ffffff; /* Replace with your desired hover color */
}

.li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 1em;
  font-size: 18px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.li a {
  color: #646464;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.li a:hover:not(.active) {
  background-color: #cdcdcd;
  border-radius: 5px;
  color: #646464;
}
